@inherits LayoutComponentBase

<div class="page">
    
    <NavMenu />

    <main class="content-area">
        <article class="content px-4 py-3 animate__animated animate__fadeIn">
            @Body
        </article>
    </main>

</div>

<Toast />

